<div class="content">
    <div class="main-container m-auto w-100">
        <h1 class="title is-2 text-black">Hotel Lists</h1> 
        <ng-container *ngFor="let hotel of hotelList">
            <div class="hotel-summary hotel-height mt-8 d-flex w-100 handle-cursor" (click)="gotoDetail(hotel)">
                <div class="w-30">
                    <img class="w-100 h-100" [src]="hotel.image_details.prefix + '0' + hotel.image_details.suffix" />
                </div>
                <div class="w-50 p-16">
                    <h4 class="d-flex">{{hotel.name}}</h4>
                    <span class="d-flex">address: {{hotel.address}}</span>
                    
                    <a *ngIf="hotel.website" class="d-flex" [href]="hotel.website" target="_blank">{{hotel.websit}}</a>
                    <span class="d-flex">City: {{hotel.city}}</span>
                </div>
                <div class="w-20 h-100 vertical-main">
                    <h4 *ngIf="hotel.trustyou_review_count" class="vertical-middle">Review: {{hotel.trustyou_review_count}}</h4>
                </div>
            </div>
        </ng-container>
    </div>
</div>