.topnavbar {
    background-color: transparent;
    background-image: unset;
}
.nav-item {
    color: #fff;
    height: 100%;
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
}