<div class="content">
    <div class="main-container m-auto d-flex">
        <div class="home-body">
            <h1 class="title is-2 text-white">Exclusive rates just for you</h1> 
            <form [formGroup]="searchForm" class="" name="searchForm">
                <div class="d-flex mt-16 mb-16 w-100">
                    <div class="form-group mr-16 w-30">
                        <ng-select class="mb-lg" [ngModel]="search?.region" (ngModelChange)="modelChanged($event,'region')" (change)="changeRange()"
                            formControlName="region" bindLabel="term" bindValue="id" [multiple]="false" [items]="itemsCities"
                            [typeahead]="regionSearchTerm$" placeholder="Cities">
                        </ng-select>
                    </div>
                    <div class="form-group mr-16 w-20 d-flex">
                        From: 
                        <input [owlDateTimeTrigger]="checkInDate" [owlDateTime]="checkInDate"                                
                            class="form-control" [ngModel]="search?.checkInDate" (ngModelChange)="modelChanged($event,'checkInDate')"
                            formControlName="checkInDate">
                        <owl-date-time [pickerType]="'calendar'" #checkInDate></owl-date-time>
                    </div>
                    <div class="form-group mr-16 w-20 d-flex">
                        To:
                        <input [owlDateTimeTrigger]="checkOutDate" [owlDateTime]="checkOutDate"                                
                            class="form-control" [ngModel]="search?.checkOutDate" (ngModelChange)="modelChanged($event,'checkOutDate')"
                            formControlName="checkOutDate">
                        <owl-date-time [pickerType]="'calendar'" #checkOutDate></owl-date-time>
                    </div>
                    <div class="form-group mr-16 w-20">
                        <div class="d-flex">
                            <input class="form-control" type="text" [(ngModel)]="showRooms" [ngModelOptions]="{ standalone: true }" (focus)="getFocused()" placeholder="Adults, Rooms, Childrens" />
                        </div>
                        <div *ngIf="editingStatus" class="edit-panel w-100 mt-8">
                            <div class="p-16">
                                <div class="d-flex mt-8 align-items-center">
                                    <i class="fa fa-minus-circle handle-cursor w-20" aria-hidden="true" (click)="decreaseCnt('adults')"></i>
                                    <span class="ml-8 mr-8 w-60">{{search?.adults}} Adults</span>
                                    <i class="fa fa-plus-circle handle-cursor w-20" aria-hidden="true" (click)="increaseCnt('adults')"></i>
                                </div>
                                <div class="d-flex mt-8 align-items-center">
                                    <i class="fa fa-minus-circle handle-cursor w-20" aria-hidden="true" (click)="decreaseCnt('rooms')"></i>
                                    <span class="ml-8 mr-8 w-60">{{search?.rooms}} Rooms</span>
                                    <i class="fa fa-plus-circle handle-cursor w-20" aria-hidden="true" (click)="increaseCnt('rooms')"></i>
                                </div>
                                <div class="d-flex mt-8 align-items-center">
                                    <i class="fa fa-minus-circle handle-cursor w-20" aria-hidden="true" (click)="decreaseCnt('children')"></i>
                                    <span class="ml-8 mr-8 w-60">{{search?.children}} Children</span>
                                    <i class="fa fa-plus-circle handle-cursor w-20" aria-hidden="true" (click)="increaseCnt('children')"></i>
                                </div>
                                <div class="d-flex mt-8">
                                    <button class="btn btn-primary" (click)="setRooms()">
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-10">
                        <button class="btn btn-warning" (click)="searchHotels()">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
