@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import '../../../shared/styles/app/variables.scss';

.content {
    background-image: linear-gradient(141deg,#0094bd,#0094f0 71%,#0b79ff);
}

.home-body {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.title.is-2 {
    font-size: 2.5rem;
}

.edit-panel {
    height: auto;
    background: #fff;
    border: 1px solid #dddddd;
}