<div class="content">
    <div class="main-container m-auto w-100 pb-16">
        <h1 class="title is-2 text-black">Hotel Detail</h1> 
        <ng-container *ngIf="hotelDetail">
            <div class="hotel-summary hotel-height mt-8 d-flex w-100 handle-cursor overflow-x-auto">
                <ng-container *ngIf="hotelDetail.images && hotelDetail.images.length > 0">
                    <img  *ngFor="let img of hotelDetail.images" class="w-100 h-100" [src]="img">
                </ng-container>
            </div>
            <h2 class="d-flex mt-32">{{hotelDetail.name}}</h2>
            <span class="d-flex">{{hotelDetail.address}}</span>
        </ng-container>

        <ng-container *ngIf="!isBookable">
            <ng-container *ngIf="roomDetail && roomDetail.length > 0">
                <div *ngFor="let room of roomDetail" class="room-detail">
                    <div class="w-80">
                        <h3 *ngIf="room.room_details&&room.room_details.description" class="d-flex">{{room.room_details.description}}</h3>
                        <span *ngIf="room.room_details&&room.room_details.room_type" class="d-flex mt-8">{{room.room_details.room_type}}</span>
                    </div>
                    <div class="w-20 h-100 vertical-main d-flex">
                        <h4 *ngIf="room.room_rate" class="vertical-middle">${{room.room_rate}}
                            <button class="btn btn-primary ml-16" (click)="book(room)">Book</button>
                        </h4>
                        
                    </div>
                </div>
                
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isBookable">
            <div class="book-container">
                <div class="w-100">
                    <h3 class="d-flex">Person Info</h3>
                    <span class="d-flex">{{personInfo.salutation}} {{personInfo.first_name}} {{personInfo.last_name}}</span>
                    <span class="d-flex">E-mail: {{personInfo.email}}</span>
                    <span class="d-flex">City: {{personInfo.city}}</span>
                    <span class="d-flex">Street: {{personInfo.street}}</span>
                    <span class="d-flex">Postal Code: {{personInfo.postal_code}}</span>
                    <span class="d-flex">Country: {{personInfo.country}}</span>
                    <span class="d-flex">Nationality: {{personInfo.nationality}}</span>
                    <span class="d-flex">Contact Number: {{personInfo.contact_no}}</span>

                    <h3 *ngIf="bookingStatus" class="d-flex">Booking Status: {{bookingStatus}}</h3>

                    <div class="d-flex">
                        <button class="btn btn-primary mt-16 ml-32" (click)="preBook()">Book</button>
                        <button class="btn btn-primary mt-16 ml-32" (click)="isBookable = false">Back</button>
                        <button *ngIf="bookingStatus && bookingStatus==='bkg-cf'" class="btn btn-primary mt-16 ml-32" (click)="cancelBook()">Cancel</button>
                    </div>
                    
                </div>
            </div>
        </ng-container>
        
    </div>
</div>
