.hotel-summary {
    width: 100%;
    background: #fff;
    border: 1px solid #d6efff;
    border-radius: 4px;

    &:hover, &:focus {
        background: #d6efff;
    }
}

@media screen and (min-width: 1088px) {
    .hotel-height {
        max-height: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 1280px) {
    .hotel-height {
        max-height: 250px;
        height: 250px;
    }
}
@media screen and (min-width: 1472px) {
    .hotel-height {
        max-height: 300px;
        height: 300px;
    }
}

.room-detail {
    width: 100%;
    height: 100px;
    background: #fff;
    border: 1px solid #d6efff;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px;
    display: flex;
    margin-top: 8px;

    &:hover, &:focus {
        background: #d6efff;
    }
}

.book-container {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #d6efff;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    margin-top: 8px;

}