@media screen and (min-width: 1088px) {
    .main-container {
        max-width: 960px;
        width: 960px;
    }
}
@media screen and (min-width: 1280px) {
    .main-container {
        max-width: 1152px;
        width: 1152px;
    }
}
@media screen and (min-width: 1472px) {
    .main-container {
        max-width: 1344px;
        width: 1344px;
    }
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.align-items-center {
    align-items: center
}

.handle-cursor {
    cursor: pointer;
}

.vertical-main {
    display: table !important;
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.overflow-x-auto {
    overflow-x: auto;
}