// width and height setting
//== width 
.w-100 {    width: 100%; }
.w-90 {     width: 90%; }
.w-80 {     width: 80%; }
.w-70 {     width: 70%; }
.w-60 {     width: 60%; }
.w-50 {     width: 50%; }
.w-40 {     width: 40%; }
.w-30 {     width: 30%; }
.w-20 {     width: 20%; }
.w-10 {     width: 10%; }

//== height
.h-100 {    height: 100%; }
.h-90 {     height: 90%; }
.h-80 {     height: 80%; }
.h-70 {     height: 70%; }
.h-60 {     height: 60%; }
.h-50 {     height: 50%; }
.h-40 {     height: 40%; }
.h-30 {     height: 30%; }
.h-20 {     height: 20%; }
.h-10 {     height: 10%; }

// width and height by px
//== width
.w-90px {     width: 90px; }
.w-80px {     width: 80px; }
.w-70px {     width: 70px; }
.w-60px {     width: 60px; }
.w-50px {     width: 50px; }
.w-40px {     width: 40px; }
.w-30px {     width: 30px; }
.w-20px {     width: 20px; }
.w-10px {     width: 10px; }

//== height
.h-90px {     height: 90px; }
.h-80px {     height: 80px; }
.h-70px {     height: 70px; }
.h-60px {     height: 60px; }
.h-50px {     height: 50px; }
.h-40px {     height: 40px; }
.h-30px {     height: 30px; }
.h-20px {     height: 20px; }
.h-10px {     height: 10px; }