
// Margins
// --------------------------
.m0 { margin: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

// margin all space
.m-8 {      margin: 8px; }
.m-16 {     margin: 16px; }
.m-24 {     margin: 24px; }
.m-32 {     margin: 32px; }

// margin-top space
.mt-1 {     margin-top: 1px; }
.mt-2 {     margin-top: 2px; }
.mt-4 {     margin-top: 4px; }
.mt-8 {     margin-top: 8px; }
.mt-16 {    margin-top: 16px; }
.mt-24 {    margin-top: 24px; }
.mt-32 {    margin-top: 32px; }
.mt-48 {    margin-top: 48px; }
.mt-64 {    margin-top: 64px; }

// margin-bottom space
.mb-1 {     margin-bottom: 1px; }
.mb-2 {     margin-bottom: 2px; }
.mb-4 {     margin-bottom: 4px; }
.mb-8 {     margin-bottom: 8px; }
.mb-16 {    margin-bottom: 16px; }
.mb-24 {    margin-bottom: 24px; }
.mb-32 {    margin-bottom: 32px; }
.mb-48 {    margin-bottom: 48px; }
.mb-64 {    margin-bottom: 64px; }

// margin-left space
.ml-1 {     margin-left: 1px; }
.ml-2 {     margin-left: 2px; }
.ml-4 {     margin-left: 4px; }
.ml-8 {     margin-left: 8px; }
.ml-16 {    margin-left: 16px; }
.ml-24 {    margin-left: 24px; }
.ml-32 {    margin-left: 32px; }
.ml-48 {    margin-left: 48px; }
.ml-64 {    margin-left: 64px; }

// margin-right space
.mr-1 {     margin-right: 1px; }
.mr-2 {     margin-right: 2px; }
.mr-4 {     margin-right: 4px; }
.mr-8 {     margin-right: 8px; }
.mr-16 {    margin-right: 16px; }
.mr-24 {    margin-right: 24px; }
.mr-32 {    margin-right: 32px; }
.mr-48 {    margin-right: 48px; }
.mr-64 {    margin-right: 64px; }

// padding all space
.p-8 {      padding: 8px; }
.p-16 {     padding: 16px; }
.p-24 {     padding: 24px; }
.p-32 {     padding: 32px; }

// padding-top space
.pt-1 {     padding-top: 1px; }
.pt-2 {     padding-top: 2px; }
.pt-4 {     padding-top: 4px; }
.pt-8 {     padding-top: 8px; }
.pt-16 {    padding-top: 16px; }
.pt-24 {    padding-top: 24px; }
.pt-32 {    padding-top: 32px; }
.pt-48 {    padding-top: 48px; }
.pt-64 {    padding-top: 64px; }

// padding-bottom space
.pb-1 {     padding-bottom: 1px; }
.pb-2 {     padding-bottom: 2px; }
.pb-4 {     padding-bottom: 4px; }
.pb-8 {     padding-bottom: 8px; }
.pb-16 {    padding-bottom: 16px; }
.pb-24 {    padding-bottom: 24px; }
.pb-32 {    padding-bottom: 32px; }
.pb-48 {    padding-bottom: 48px; }
.pb-64 {    padding-bottom: 64px; }

// padding-left space
.pl-1 {     padding-left: 1px; }
.pl-2 {     padding-left: 2px; }
.pl-4 {     padding-left: 4px; }
.pl-8 {     padding-left: 8px; }
.pl-16 {    padding-left: 16px; }
.pl-24 {    padding-left: 24px; }
.pl-32 {    padding-left: 32px; }
.pl-48 {    padding-left: 48px; }
.pl-64 {    padding-left: 64px; }

// padding-right space
.pr-1 {     padding-right: 1px; }
.pr-2 {     padding-right: 2px; }
.pr-4 {     padding-right: 4px; }
.pr-8 {     padding-right: 8px; }
.pr-16 {    padding-right: 16px; }
.pr-24 {    padding-right: 24px; }
.pr-32 {    padding-right: 32px; }
.pr-48 {    padding-right: 48px; }
.pr-64 {    padding-right: 64px; }

